<h1>Ativação de conta</h1>
<hr \>
<p>Olá, <strong>{{ nome }}</strong></p>
<p>Para ativar sua conta é só clicar no botão abaixo</p>
<br \>
<div style="text-align: center;">
    <a href="{{ urlAtivarConta }}" target="_blank">
        <input type="button" value="ATIVAR MINHA CONTA" style="background-color: dodgerblue; transform: scale(1.5); cursor: pointer; color: white;
            padding: 10px; border-radius: 10px;">
    </a>
</div>
<br \>
<p>Ou copie e cole o link abaixo no seu navegador</p>
<p><a style="word-break: break-all;" href="{{ urlAtivarConta }}" target="_blank">{{ urlAtivarConta }}</a></p>