<h1>Alteração de senha</h1>
<hr \>
<p>Olá, <strong>{{ nome }}</strong></p>
<p>É normal esquecermos nossas senhas, mas fique tranquilo! clique no botão abaixo para cadastrar uma nova.</p>
<br \>
<div style="text-align: center;">
    <a href="{{ urlNovaSenha }}" target="_blank">
        <input type="button" value="CADASTRAR NOVA SENHA" style="background-color: dodgerblue; transform: scale(1.5); cursor: pointer; color: white;
            padding: 10px; border-radius: 10px;">
    </a>
</div>
<br \>
<p>Ou copie e cole o link abaixo no seu navegador</p>
<p><a style="word-break: break-all;" href="{{ urlNovaSenha }}" target="_blank">{{ urlNovaSenha }}</a></p>